*
!.gitignore
!configs
!configs/if_attributes.txt
!configs/if_buyableweapons.txt
!configs/if_lists.txt
!configs/if_specialtweaks.txt
!configs/if_weapons.txt
!configs/tf2items.weapons.txt

!gamedata
!gamedata/tf2.incrementalfortress.txt
!gamedata/sigsegv
!gamedata/sigsegv/custom_attributes.txt

!scripting
!scripting/IncFort
!scripting/IncFort/*
!scripting/include
!scripting/include/razorstocks.inc
!scripting/IncrementalFortress.sp
!scripting/tf2items_manager.sp
!scripting/UU_BotAi.sp

!translations
!translations/incrementalfortress.phrases.txt